@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  /* Optional: Adding smooth transitions */
html {
    scroll-behavior: smooth;
  }
  
  #skills {
    position: relative;
  }
  
  #skills .container {
    padding: 0;
  }
  
